<div class="delete-user">
  <div class="container">
    <div class="delete-user-content">
      <div class="header">
        <h3>Delete User</h3>
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          The user has been deleted successfully!
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        <form ng-app="" [formGroup]="form">
          <div class="form-single">
            <label>Email Address*</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Enter email address here"
              [ngClass]="{ 'is-invalid': email.touched && email.invalid }" />
            <div *ngIf="email.invalid">
              <div class="text-danger" *ngIf="!invalidEmail && email.touched">
                Email is Invalid.
              </div>
              <div class="text-danger" *ngIf="email.errors.required && email.touched">
                Email is required.
              </div>
            </div>
          </div>
        </form>
        <div class="button">
          <button (click)="deleteUser()" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>